*{
	margin: 0px;
	padding: 0px;
	font-family: 'PT Sans', sans-serif;
	transition: 1s;
}

#main{
	min-height: 100vh;
}

.box{
	float: left;

}

#contentL{
	width: 70%;
	background: url(../images/bg.jpg) repeat-y;
	background-size: cover;
	min-height: 100vh;
	padding: 60px;
	box-sizing: border-box;
}
#contentL table{
	width: 100%;
	color: #fff;
	text-align: center;
}
#contentL table,tr,td,th{
	border-bottom:1px solid #ccc;
	border-collapse: collapse;
	padding: 5px;
	box-sizing: border-box;
}

#contentR{
	width: 30%;
	background:#e4eaf5;
	position: fixed;
	right: 0px;
	top: 0px;
	
	height: 100vh;
	padding: 45px;
	padding-top: 100px;
	box-sizing: border-box;
}



/*-------------- inputs -------------------*/


input[type="text"], input[type="password"]{
	width:80%;
	line-height: 30px;
	padding: 5px;
	font-size: 18px;
	border:0px;
	outline: none;
}
.form-control{
	width: 100%;
	border:1px solid #bdabab5c;
	margin-top: 10px;
}
.form-control label{
	padding:10px 15px; 
}
.form-control label i{
	font-size: 20px !important; 
	color: #5c6f90;
}

#country{
	width:83%;
	line-height: 30px;
	padding: 7px;
	font-size: 18px;
	border:0px;
	outline: none;
}
.gender{
	width:15px;
	height: 15px;
}
.genderlabel{
	border: 0px;
	padding: 20px 5px;
}
.genderlabel label{
	padding: 0px;
	line-height: 20px;
}
.genderlabel label i{
	font-size: 24px !important;
	color: #5c6f90;
}
.btnwrap{
	text-align: center;
	margin-top: 50px;
}
.btnwrap button{
	padding: 5px 20px;
	border:1px solid;
	background: none;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
}
#getInfo, #updateInfo{
	background-color: #1da270;
}
#restInfo{
	background-color: #36d2e6;
}
#closer{
	width:100px;
	height: 100px;
	border-radius: 50%;
	background-color: #e4eaf5;
	text-align: center;
	line-height: 100px;
	font-size: 20px;
	position: absolute;
	top: -10px;
	left: -55px;
}
#dataTabel td{
	max-width: 150px;
	word-wrap: break-word;
}

td button i{
	padding: 2px;
    font-size: 1.2rem;
    color: #e04c41;
}	
td button i.fa-pen-square{
	color: #0e9e14;
}


.cleafix{
	clear: both;
}

